.dept_way {
    color: #858585;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.special_fares {
    width: 126px;
    height: 23px;
    border-radius: 26px;
    border: 1px solid #A2A2A2;
}